[flake8]
exclude = *py*env*/
max_line_length = 88
ignore = \
    W605,  # Ignored due to regex escape in src/misc.py.
    F401,  # Ignored due to log_config import in src/main.py.
    W503,  # Ignored due to line break after binary operator best practice guideline.
