# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]

# User data
account_statements/*
data/*
export/*
withdrawals_deposits/*

# Development folder
dev/

# IDE
.vscode/

# Python virtual environment
*py*env*/

!.gitkeep
